<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<script src="js/jquery-1.7.2.min.js"></script>		
		<link rel="stylesheet" href="css/kt.css">
	</head>
	<body>
		<h2>Knights Tour</h2>
		
    <div style="text-align: center; width: 80%">
      <div id="msg-box" class="info-msg-box"> 
        <p>Click on a box to start</p>
      </div>
    </div>
            <!--<input type="button" onclick="dismissMsg()" value="OK"/>-->

    <div id="board" class="board"></div>
    
    <br>
    <input type="button" id="undo" value="Undo">
    <input type="button" id="reset" value="Reset">
    
    <script src="js/kt.js"></script>

	</body>
</html>

