<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<script src="js/jquery-1.7.2.min.js"></script>		
		<link rel="stylesheet" href="css/kt.css">
	</head>
	<body>
		<h2>Knights Tour</h2>
		
    <div style="text-align: center; width: 80%">
      <div id="msg-box" class="info-msg-box"> 
        <p>Click on a box to start</p>
      </div>
    </div>
            <!--<input type="button" onclick="dismissMsg()" value="OK"/>-->
    
    <table border="1" align="center">
      <tr>
        <td class="square white" id="sq70" ></td>
        <td class="square grey"  id="sq71" ></td>
        <td class="square white" id="sq72" ></td>
        <td class="square grey"  id="sq73" ></td>
        <td class="square white" id="sq74" ></td>
        <td class="square grey"  id="sq75" ></td>
        <td class="square white" id="sq76" ></td>
        <td class="square grey"  id="sq77" ></td>
      </tr>
      <tr>
        <td class="square grey" id="sq60"></td>
        <td class="square white" id="sq61"></td>
        <td class="square grey" id="sq62"></td>
        <td class="square white" id="sq63"></td>
        <td class="square grey" id="sq64"></td>
        <td class="square white" id="sq65"></td>
        <td class="square grey" id="sq66"></td>
        <td class="square white" id="sq67"></td>
      </tr>
      <tr>
        <td class="square white"  id="sq50" ></td>
        <td class="square grey"  id="sq51" ></td>
        <td class="square white"  id="sq52" ></td>
        <td class="square grey"  id="sq53" ></td>
        <td class="square white"  id="sq54" ></td>
        <td class="square grey"  id="sq55" ></td>
        <td class="square white"  id="sq56" ></td>
        <td class="square grey"  id="sq57" ></td>
      </tr>
      <tr>
        <td class="square grey" id="sq40"></td>
        <td class="square white" id="sq41"></td>
        <td class="square grey" id="sq42"></td>
        <td class="square white" id="sq43"></td>
        <td class="square grey" id="sq44"></td>
        <td class="square white" id="sq45"></td>
        <td class="square grey" id="sq46"></td>
        <td class="square white" id="sq47"></td>
      </tr>
      <tr>
        <td class="square white"  id="sq30" ></td>
        <td class="square grey"  id="sq31" ></td>
        <td class="square white"  id="sq32" ></td>
        <td class="square grey"  id="sq33" ></td>
        <td class="square white"  id="sq34" ></td>
        <td class="square grey"  id="sq35" ></td>
        <td class="square white"  id="sq36" ></td>
        <td class="square grey"  id="sq37" ></td>
      </tr>
      <tr>
        <td class="square grey" id="sq20"></td>
        <td class="square white" id="sq21"></td>
        <td class="square grey" id="sq22"></td>
        <td class="square white" id="sq23"></td>
        <td class="square grey" id="sq24"></td>
        <td class="square white" id="sq25"></td>
        <td class="square grey" id="sq26"></td>
        <td class="square white" id="sq27"></td>
      </tr>
      <tr>
        <td class="square white"  id="sq10" ></td>
        <td class="square grey"  id="sq11" ></td>
        <td class="square white"  id="sq12" ></td>
        <td class="square grey"  id="sq13" ></td>
        <td class="square white"  id="sq14" ></td>
        <td class="square grey"  id="sq15" ></td>
        <td class="square white"  id="sq16" ></td>
        <td class="square grey"  id="sq17" ></td>
      </tr>
      <tr>
        <td class="square grey" id="sq00" ></td>
        <td class="square white horse" id="sq01" ></td>
        <td class="square grey" id="sq02" ></td>
        <td class="square white" id="sq03" ></td>
        <td class="square grey" id="sq04" ></td>
        <td class="square white" id="sq05" ></td>
        <td class="square grey" id="sq06" ></td>
        <td class="square white" id="sq07" ></td>
      </tr>
    </table>

    <br>
    <input type="button" id="undo" value="Undo">
    <input type="button" id="reset" value="Reset">
    
    <script src="js/kt.js"></script>

	</body>
</html>

